
:local(.section) {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: cornflowerblue;
    color: white;
    text-shadow: 0 0 5px black;
    border-top: 1px solid white;
}

:local(.image) {
    max-height: 30em;
}
