
body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.nopadding {
    padding: 0;
}


@media screen and (max-width: 550px) {
    .carousel-caption img {
        max-height: 50px;
    }
    .carousel-caption h3 {
        font-size: medium;
    }
    .carousel-caption span {
        font-size: small;
    }
    .carousel-caption p {
        font-size: small;
    }
    .carousel-caption li {
        font-size: x-small;
    }

}

@media screen and (min-width: 551px) {
    .carousel-caption {
        top: 20px;
    }
}
@media screen and (min-width: 1024px) {
    .carousel-caption {
        top: 200px;
    }
}

@media screen and (min-width: 2048px) {
    .carousel-caption {
        top: 500px;
    }
}


